.global-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.footer-item {
    text-decoration: none;
    color: #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
}

.footer-item.active {
    color: #5865F2;
}

.footer-item .material-symbols-outlined {
    font-size: 28px;
}
