:root {
  --primary-color: #0033cc;
  --text-color: #ffffff;
  --bg-color: #000000;
  --layout-max-width: 430px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #1a1a1a;
  /* 데스크탑 배경 */
  color: var(--text-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}